<nav class="navbar navbar-dark bg-dark">
  <h3 class="navbar-brand mx-3">eBizneeds</h3>

  <div class="form-inline">
    <button class="btn btn-outline-primary" type="submit" (click)="listAll()">
      All Users
    </button>
    
  </div>
</nav>
<div class="page-holder align-items-center py-4 bg-gray-100 vh-100">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 px-lg-4"  *ngIf="userlogin">
        <div class="card">
          <div class="card-header px-lg-5">
            <div class="card-heading text-primary">eBizneeds Login Page</div>
          </div>
          <div class="card-body p-lg-5">
            <h3 class="mb-4">Hi, welcome back! 👋👋</h3>
            <form [formGroup]="loginForm" (ngSubmit)="loginData()">
              <div class="form-floating mb-3">
                <input class="form-control" id="floatingInput" type="email" formControlName="email" required>
                <label for="floatingInput">Email</label>
              </div>
              <div class="form-floating mb-3">
                <input class="form-control" id="floatingPassword" type="password" formControlName="password" required>
                <label for="floatingPassword">Password</label>
              </div>
              
              <button class="btn btn-primary" type="submit">Submit</button>
            </form>
          </div>
          <div class="card-footer px-lg-5 py-lg-4">
            <div class="text-sm text-muted">Don't have an account? <a (click)="user_register()">Sign Up</a>.</div>
          </div>
        </div>
      </div>
      <!-- register -->
       <div class="col-lg-6 px-lg-4" *ngIf="userregister">
        <div class="card">
          <div class="card-header px-lg-5">
            <div class="card-heading text-primary">eBzneeds Sign Up Page</div>
          </div>
          <div class="card-body p-lg-5">
            <h3 class="mb-4">Get started</h3>
            <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
              <div class="mb-3">
                <input class="form-control" id="img" type="file" (change)="imgupload($event)" required>
                <label *ngIf="!imagedata" for="img">Upload your Image</label>
                <img *ngIf="imagedata" [src]="imagedata"/>
              </div>
              <div class="form-floating mb-3">
                <input class="form-control" id="name" type="text" formControlName="name" required>
                <label for="name">Name</label>
              </div>
              <div class="form-floating mb-3">
                <input class="form-control" id="floatingInput" type="email" formControlName="email" required>
                <label for="floatingInput">Email address</label>
              </div>
              <div class="form-floating mb-3">
                <input class="form-control" id="floatingPassword" type="password" formControlName="password" required>
                <label for="floatingPassword">Password</label>
              </div>
              <div class="form-floating mb-3">
                  <input class="form-control" id="ad1" type="text" formControlName="ad1" required>
                  <label for="ad1">Address Line 1</label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control" id="ad2" type="text" formControlName="ad2" required>
                  <label for="ad2">Address Line 2</label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control" id="street" type="text" formControlName="street" required>
                  <label for="street">Street</label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control" id="city" type="text" formControlName="city" required>
                  <label for="city">City</label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control" id="zipcode" type="text" formControlName="zipcode" required>
                  <label for="zipcode">Zipcode</label>
                </div>
              
              <div class="form-group">
                <button class="btn btn-primary" id="regidter" type="submit" name="registerSubmit" >Register</button>
              </div>
            </form>
          </div>
          <div class="card-footer px-lg-5 py-lg-4">
            <div class="text-sm text-muted">Already have an account? <a (click)="user_login()">Login</a>.</div>
          </div>
        </div>
      </div>
     <div class="col-lg-6 col-xl-5 ms-xl-auto px-lg-4 text-center text-primary"><img class="img-fluid mb-4" width="200" src="https://media.glassdoor.com/sqll/776366/ebizneeds-squarelogo-1571205033620.png" alt="" style="transform: rotate(10deg)">
        
        </div>
    </div>
  </div>
</div>
