<nav class="navbar navbar-dark bg-dark">
  <h3 class="navbar-brand mx-3">eBizneeds Dashboard</h3>

  <div class="form-inline">
    
    <button
      class="btn btn-outline-primary mx-3"
      type="submit"
      (click)="logout()"
    >
      Logout
    </button>
  </div>
</nav>

<div *ngIf="loaded" class="maindiv">
  <div>
    <img
      style="border-radius: 1rem"
      width="400"
      [src]="this.userdata.imgpath"
    />
  </div>
  <div *ngIf="!this.isProfile">
    <button class="btn btn-outline-primary mt-3" (click)="viewProfile()">
      Expand Profile
    </button>
  </div>
  <div class="" *ngIf="this.isProfile">
    <div class="col-lg-6 px-lg-4 subdiv">
      <div class="card">
        <div class="card-body p-lg-5">
          <div class="form-floating mb-3">
            <input class="form-control" id="name" type="text" readonly />
            <label for="name">{{ this.userdata.name }}</label>
          </div>
          <div class="form-floating mb-3">
            <input
              class="form-control"
              id="floatingInput"
              type="email"
              readonly
            />
            <label for="floatingInput">{{ this.userdata.email }}</label>
          </div>

          <div class="form-floating mb-3">
            <input class="form-control" id="ad1" type="text" readonly />
            <label for="ad1">{{ this.userdata.ad1 }}</label>
          </div>
          <div class="form-floating mb-3">
            <input class="form-control" id="ad2" type="text" readonly />
            <label for="ad2">{{ this.userdata.ad2 }}</label>
          </div>
          <div class="form-floating mb-3">
            <input class="form-control" id="street" type="text" readonly />
            <label for="street">{{ this.userdata.street }}</label>
          </div>
          <div class="form-floating mb-3">
            <input class="form-control" id="city" type="text" readonly />
            <label for="city">{{ this.userdata.city }}</label>
          </div>
          <div class="form-floating mb-3">
            <input class="form-control" id="zipcode" type="text" readonly />
            <label for="zipcode">{{ this.userdata.zipcode }}</label>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-outline-primary mt-3" (click)="viewProfile()">
      Minimise Profile
    </button>
  </div>
</div>
