<div id="modal-content-wrapper">
    <header id="modal-header">
        <h1 id="modal-title">User Details</h1>
    </header>
    <section id="modal-body">
     <div class="maindiv" *ngFor="let each of this.usersdata">
        <h5>User ID: {{each._id}}</h5>
        <h6>Name: {{each.name}}</h6>
        <h6>Address Line 1: {{each.ad1}}</h6>
        <h6>Address Line 2: {{each.ad2}}</h6>
        <hr>
     </div>
        
  </section>
    <footer id="modal-footer">
        
        <button class="btn btn-secondary" (click)="close()">Close</button>
    </footer>
  </div>
